/*
   CONFIGURACIÓN GENERAL
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;

    min-height: 100vh;

}


/*CONTENEDOR DEL LOGIN + FONDO*/

.login-container {

    width: 100%;

    /* Resta aproximadamente la altura del header */
    min-height: calc(100vh - 130px);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px 20px;

    /* AQUÍ VA EL FONDO */
      background-image: url("../img/fondocfe.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/*Caja de login*/

.login-box {

    width: 380px;

    padding: 40px;

    /* Un poquito transparente para verse más bonito */
    background: rgba(255, 255, 255, 0.96);

    border-radius: 15px;

    box-shadow:
        0 8px 30px
        rgba(0, 0, 0, 0.20);
}


/* LOGO*/

.logo {

    display: block;

    max-width: 130px;

    margin: 0 auto 20px auto;
}


/* 
   TÍTULOS
 */

h1,
h2 {
    text-align: center;
}

h1 {
    margin-top: 0;
    margin-bottom: 5px;

    color: #00664f;
}

h2 {
    font-size: 18px;

    font-weight: normal;

    margin-bottom: 30px;

    color: #444;
}


/* 
   CAMPOS
*/

label {

    display: block;

    margin-top: 15px;
    margin-bottom: 5px;

    color: #333;
}

input {

    width: 100%;

    padding: 12px;

    border: 1px solid #ccc;

    border-radius: 7px;

    font-size: 15px;

    outline: none;
}


/* Cuando haces clic en el campo */

input:focus {

    border-color: #008e67;

    box-shadow:
        0 0 0 3px
        rgba(0, 142, 103, 0.12);
}


/* 
   BOTÓN
 */

button {

    width: 100%;

    margin-top: 25px;

    padding: 13px;

    border: none;

    border-radius: 7px;

    background: #008e67;

    color: white;

    font-size: 16px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.2s;
}

button:hover {

    background: #007454;

}


/* 
   MENSAJE DE ERROR
*/

.error {

    padding: 10px;

    margin-bottom: 15px;

    background: #ffe5e5;

    color: #a10000;

    border-radius: 5px;

    text-align: center;
}


/* 
   modo responsivo
*/

@media (max-width: 500px) {

    .login-container {

        padding: 25px 15px;

    }

    .login-box {

        width: 100%;

        max-width: 380px;

        padding: 30px 25px;

    }

}